<%= form_with model: credential, local: true do |f| %>
  <div class="grid">
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>

    <%= f.label :domain %>
    <%= f.text_field :domain %>

    <%= f.label :category %>
    <%= f.select :category, Credential::CATEGORIES %>

    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :notes %>
    <%= f.text_area :notes, rows: 3 %>
  </div>

  <%= f.submit submit_label %>
<% end %>
